
#simple-query { display: flex ; justify-content: space-between; align-items: flex-start; margin-top: 50px}
#simple-query .half{flex: 1; padding: 0 10px 0 10px;}
#simple-query textarea {
    width: 100%;
    font-size: 22px;
    padding: 5px 10px 0 5px;
}

#simple-query .rjv-wrapper {
    text-align: left;
    background-color: #fff;
    font-size: 0.75em;
}